In [1]:
from datetime import datetime, timedelta
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import get_dados as gd

In [3]:
con = sqlite3.connect("dados_varias_coin.db")
bot_id = 1
df_bot_1 = pd.read_sql_query(f'SELECT * from operacoes_bot WHERE bot_id =={bot_id};', con)
bot_id = 2
df_bot_2 = pd.read_sql_query(f'SELECT * from operacoes_bot WHERE bot_id =={bot_id};', con)
con.close()

In [4]:
con = sqlite3.connect("dados_varias_coin.db")
ls_bot = pd.read_sql_query(f'SELECT * from bot;', con)
ls_bot.head()

,id,coin,qnt_brl_inicial,qnt_coin,qnt_brl_atual,grid_valor,limite_inferior,limite_superior,qnt_trade
0,1,XRP,20.0,0.9961,17.641099,0.06,1.90,3.1,0.5
1,2,XRP,20.0,1.9922,15.225006,0.04,2.25,2.7,0.5

In [5]:
ultimo_valor_negociado = gd.get_ultimo_gravado("XRP")[5]

In [6]:
df_bot_1.head()

,id,bot_id,estado_ordem,v_tag_ordem,valor_compra,qnt_comprada,order_compra_id,time_compra,valor_venda,qnt_vendida,order_venda_id,time_venda,lucro,fee
0,5,1,compra_criada,2.32,2.32928,0.5,40037174,1612587928,2.38928,0.5,NaN,NaN,None,None
1,8,1,finalizada,2.38,2.37378,0.5,40056634,1612603061,2.4301435700000003,0.49805,40057510.0,1.612625e+09,None,None
2,12,1,finalizada,2.38,2.38952,0.5,40092337,1612626482,2.4458600500000003,0.49805,40096034.0,1.612628e+09,None,None
3,13,1,venda_criada,2.44,2.42197,0.5,40093902,1612625810,2.48197,0.49805,40094249.0,1.612626e+09,None,None
4,18,1,venda_criada,2.38,2.38952,0.5,40098885,1612643602,2.44952,0.49805,40125459.0,1.612644e+09,None,None

In [7]:
df_bot_2.head()

,id,bot_id,estado_ordem,v_tag_ordem,valor_compra,qnt_comprada,order_compra_id,time_compra,valor_venda,qnt_vendida,order_venda_id,time_venda,lucro,fee
0,6,2,finalizada,2.33,2.33932,0.5,40037186,1612610214,2.37576494,0.49805,40069395.0,1.612612e+09,None,None
1,7,2,finalizada,2.37,2.37948,0.5,40055903,1612602611,2.41585494,0.49805,40056464.0,1.612624e+09,None,None
2,9,2,finalizada,2.65,2.37184,0.5,40060080,1612605900,2.40822635,0.49805,40060805.0,1.612624e+09,None,None
3,10,2,compra_criada,2.33,2.33932,0.5,40073274,1612612553,2.37932,0.5,NaN,NaN,None,None
4,11,2,finalizada,2.41,2.40436,0.5,40090694,1612624446,2.44070776,0.49805,40091362.0,1.612625e+09,None,None

In [8]:
def get_lucro(df):
    r_estado = df["estado_ordem"] =="finalizada"
    df_lucro = df[r_estado]
    df_lucro["valor_venda"] = df_lucro["valor_venda"].astype(float)
    df_lucro["qnt_vendida"] = df_lucro["qnt_vendida"].astype(float)
    df_lucro["valor_compra"] = df_lucro["valor_compra"].astype(float)
    df_lucro["qnt_comprada"] = df_lucro["qnt_comprada"].astype(float)
    def map_lucro(x):
        lucro = x["valor_venda"]* x["qnt_vendida"] - x["valor_compra"] * x["qnt_comprada"]
        return lucro

    if not df_lucro.empty:
        df_lucro["lucro"] = df_lucro.apply(map_lucro, axis =1 )
        lucro_total = sum(df_lucro["lucro"])
        print(f'O bot {df_lucro["bot_id"].iloc[0]} deu um lucro de {lucro_total}')
    return df_lucro, lucro_total

In [9]:
df_lucro_b1, lucro_1 = get_lucro(df_bot_1)
df_lucro_b2, lucro_2 = get_lucro(df_bot_2)

print(lucro_1 + lucro_2)

O bot 1 deu um lucro de 0.046843602941000206
O bot 2 deu um lucro de 0.06734626760599993
0.11418987054700014

<ipython-input-8-63660e8e1ccb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lucro["valor_venda"] = df_lucro["valor_venda"].astype(float)
<ipython-input-8-63660e8e1ccb>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lucro["qnt_vendida"] = df_lucro["qnt_vendida"].astype(float)
<ipython-input-8-63660e8e1ccb>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lucro["valor_compra"] = df_lucro["valor_compra"].astype(float)
<ipython-input-8-63660e8e1ccb>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lucro["qnt_comprada"] = df_lucro["qnt_comprada"].astype(float)
<ipython-input-8-63660e8e1ccb>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lucro["lucro"] = df_lucro.apply(map_lucro, axis =1 )

In [10]:
def get_dinheiro_empenhado(df):
    r_estado = (df["estado_ordem"] == "compra_aberta") | (df["estado_ordem"] == "compra_criada") |  (df["estado_ordem"] == "compra_executada")
    df_dinheiro_empenhado = df[r_estado]
    def map_dinheiro_alocado(x):
        return  float(x["valor_compra"]) * float(x["qnt_comprada"])
    som_dinheiro_empenhado = 0
    if not df_dinheiro_empenhado.empty:
        df_dinheiro_empenhado["dinheiro_alocado"] = df_dinheiro_empenhado.apply(map_dinheiro_alocado, axis =1 )
        som_dinheiro_empenhado= sum(df_dinheiro_empenhado["dinheiro_alocado"])
    return df_dinheiro_empenhado, som_dinheiro_empenhado

In [25]:
de_1, sde_1 = get_dinheiro_empenhado(df_bot_1)
de_2, sde_2 = get_dinheiro_empenhado(df_bot_2)

<ipython-input-10-85659c072395>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dinheiro_empenhado["dinheiro_alocado"] = df_dinheiro_empenhado.apply(map_dinheiro_alocado, axis =1 )

In [12]:
# df_lucro.head()

In [13]:
def coin_empenhada(df):
    r_estado_venda = (df["estado_ordem"] == "venda_aberta") | (df["estado_ordem"] == "venda_criada") |  (df["estado_ordem"] == "venda_executada")

    df_coin_empenhada = df[r_estado_venda]
    
    def map_dinheiro_alocado(x):
        return float(x["qnt_comprada"])
    
    qnt_moeda_empenhada = 0
    if not df_coin_empenhada.empty:
        df_coin_empenhada["moeda_alocada"] = df_coin_empenhada.apply(map_dinheiro_alocado, axis =1 )
        qnt_moeda_empenhada = sum(df_coin_empenhada["moeda_alocada"])
        
    return df_coin_empenhada, qnt_moeda_empenhada

In [14]:
print(coin_empenhada(df_bot_1)[1]*ultimo_valor_negociado)
print(coin_empenhada(df_bot_2)[1]*ultimo_valor_negociado)

2.39561
4.79122

<ipython-input-13-2726b42cdad6>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coin_empenhada["moeda_alocada"] = df_coin_empenhada.apply(map_dinheiro_alocado, axis =1 )

In [15]:
# df_dinheiro_empenhado.head()

In [16]:
# df_dinheiro_empenhado["order_venda_id"].dropna().astype('int')

In [24]:
# df.iloc[1]["time_venda"]

ls_bot[ls_bot["id"]==1]["qnt_brl_atual"]

0    17.641099
Name: qnt_brl_atual, dtype: float64

In [ ]:
dinheir_bot_1 = ls_bot[ls_bot["id"]==1]["qnt_brl_atual"] + lucro_1 + sde_1

In [18]:
def get_lucro(valor_entrada, valor_saida, qnt_desejada):
    valor_pago = valor_entrada * qnt_desejada
    qnt_comprada_taxada = qnt_desejada * (1 - 0.3/100) 
#     print(valor_pago,qnt_comprada_taxada)
    valor_saida = qnt_comprada_taxada * valor_saida
    valor_saida_taxada =  valor_saida  * (1 - 0.3/100)
    lucro_pos_taxas = valor_saida_taxada - valor_pago
    return valor_pago, valor_saida_taxada, lucro_pos_taxas

In [19]:
get_lucro(2.38, 2.44, 1)

(2.38, 2.4253819599999997, 0.04538195999999983)

In [20]:
qnt_moeda = 0.5
saida = get_lucro(2.38, 2.42, qnt_moeda)[2] #+ get_lucro(2.38, 2.41, qnt_moeda)[2] + get_lucro(2.38, 2.41, qnt_moeda)[2]+ get_lucro(2.38, 2.41, qnt_moeda)[2] 
saida

0.01275088999999996

In [21]:
get_lucro(2.38, 2.44, qnt_moeda)[2] #+get_lucro(2.38, 2.44, qnt_moeda)[2]

0.022690979999999916

In [22]:
# def map_dinheiro_alocado(x):
#     return  float(x["valor_compra"]) * float(x["qnt_comprada"])

# def map_moeda(x):
#     pass

# if not df_dinheiro_empenhado.empty:
#     df_dinheiro_empenhado["dinheiro_alocado"] = df_dinheiro_empenhado.apply(map_dinheiro_alocado, axis =1 )
# def map_pot_lucro(x):
#     c = float(x["valor_compra"]) * float(x["qnt_comprada"])
#     v = float(x["valor_venda"]) * float(x["qnt_vendida"])
#     return v - c
# if not df_dinheiro_empenhado.empty:
#     df_dinheiro_empenhado["pot_lucro"] = df_dinheiro_empenhado.apply(map_pot_lucro, axis =1 )
#     qnt_total = 20
#     valor_alocado= sum(df_dinheiro_empenhado["dinheiro_alocado"])
#     por_alocada = valor_alocado/qnt_total * 100
#     qnt_lucro_possivel = sum(df_dinheiro_empenhado["pot_lucro"])
#     print(f"Esta alocado:{round(por_alocada,2)}%, {round(valor_alocado,3)}; e pode ganhar: {round(qnt_lucro_possivel,5)} reais")